<template>
	<section>
		<NavBar
			v-bind:from="'home'"
			v-bind:onHomeSelected="displayHome"
			v-bind:on-culture-selected="displayCulture"
			v-bind:onEventsSelected="displayEvents"
			v-bind:onGalerySelected="displayGallery"
			v-bind:onLibrarySelected="displayLibrary"
			v-bind:onContactSelected="displayContact"
		/>
		<Main class="home"/>
		<Events class="events"/>
		<Contact class="contact"/>
		<Footer/>
	</section>
</template>

<script>
  import NavBar from '../../components/NavBar'
  import Main from './components/Main'
  import Events from './components/Events'
  import Contact from './components/Contact'
  import Footer from '../../components/Footer'

  export default {
    name: 'Landing',
	components: {
      NavBar,
	  Main,
	  Events,
	  Contact,
	  Footer
	},
	 methods: {
	   displayHome() {
         const home = this.$el.getElementsByClassName('home')[0]
         if (home) {
           home.scrollIntoView({ behavior: 'smooth', block: 'start' })
         }
	   },
	   displayEvents() {
         const events = this.$el.getElementsByClassName('events')[0]
         if (events) {
           const offset = 10;
           const bodyRect = document.body.getBoundingClientRect().top;
           const elementRect = events.getBoundingClientRect().top;
           const elementPosition = elementRect - bodyRect;
           const offsetPosition = elementPosition - offset;
           window.scrollTo({
             top: offsetPosition,
             behavior: "smooth"
           });
         }
       },
       displayCulture() {
         this.$router.push('/culture')
       },
	   displayGallery() {
	     this.$router.push('/gallery')
	   },
	   displayLibrary() {
         this.$router.push('/library')
       },
	   displayContact() {
         const contact = this.$el.getElementsByClassName('contact')[0]
         if (contact) {
           const offset = 10;
           const bodyRect = document.body.getBoundingClientRect().top;
           const elementRect = contact.getBoundingClientRect().top;
           const elementPosition = elementRect - bodyRect;
           const offsetPosition = elementPosition - offset;
           window.scrollTo({
             top: offsetPosition,
             behavior: "smooth"
           });
         }
	   }
	 }
  }
</script>

<style scoped>

</style>
