<template>
	<section>
		<NavBar
			v-bind:from="'culture'"
			v-bind:onHomeSelected="displayHome"
			v-bind:onGalerySelected="displayGallery"
			v-bind:onLibrarySelected="displayLibrary"
		/>
		<Main/>
		<Us/>
		<Mission/>
		<Heroes/>
		<Partners/>
		<Footer/>
	</section>
</template>

<script>
  import NavBar from '../../components/NavBar'
  import Main from './components/Main'
  import Us from './components/Us'
  import Mission from './components/Mission'
  import Heroes from './components/Heroes'
  import Partners from './components/Partners'
  import Footer from '../../components/Footer'

  export default {
    name: 'Culture',
    components: {
      NavBar,
      Main,
	  Us,
	  Mission,
	  Heroes,
	  Partners,
	  Footer
	},
	methods: {
      displayHome() {
        this.$router.push('/')
      },
      displayGallery() {
        this.$router.push('/gallery')
      },
      displayLibrary() {
        this.$router.push('/library')
      }
	}
  }
</script>

<style scoped>

</style>
