<template>
	<div class="background">
		<v-layout row wrap>
			<v-flex sm12>
				<SectionTitle title="Contacto"/>
			</v-flex>
		</v-layout>

		<v-layout row wrap>
			<v-flex sm12 md6>
				<v-form
					lazy-validation
					ref="form"
					v-model="valid"
				>
					<v-text-field
						flat
						:rules="nameRules"
						v-model="name"
						label="Nombre(s)"
					/>
					<v-text-field
						flat
						:rules="phoneRules"
						v-model="phone"
						label="Número celular"
					/>
					<v-textarea
						flat
						:rules="messageRules"
						v-model="message"
						label="Deje su mensaje..."
						no-resize
					/>

					<v-btn
						class="text-capitalize"
						color="#eab029"
						outline
						@click="sendForm"
					>
						Enviar
					</v-btn>
				</v-form>
			</v-flex>

			<v-flex sm12 md6 class="map">
				<v-img
					:src="imageMap"
				/>
				<v-card-title class="justify-center">Nos encontramos laborando en Mérida, Yucatán</v-card-title>
			</v-flex>
		</v-layout>
	</div>
</template>

<script>
  import SectionTitle from '../../../components/SectionTitle'

  export default {
    components: {
      SectionTitle
	},
	data: () => ({
	  valid: false,
	  name: '',
      nameRules: [
        v => !!v || 'El nombre es requerido.',
      ],
	  phone: '',
      phoneRules: [
        v => !!v || 'El número de celular es requerido.',
      ],
	  message: '',
      messageRules: [
        v => !!v || 'El mensaje es requerido.',
      ],
	  imageMap: require('../../../assets/map.png')
	}),
	methods: {
      sendForm() {
        if (this.$refs.form.validate()) {

		}
	  }
	}
  }
</script>

<style scoped>
	.background {
		min-height: 20vw;
	}

	.v-text-field {
		margin-left: 4vw;
		margin-right: 4vw;
	}

	.map {
		padding-left: 4vw;
		padding-right: 4vw;
		padding-bottom: 4vw;
	}
</style>
