<template>
	<section class="background">
		<v-layout row wrap>
			<v-flex sm12>
				<SubsectionTitle title="Héroes de miel"/>
			</v-flex>
		</v-layout>

		<v-container grid-list-xl>
			<v-layout row wrap>
				<v-flex :key="0" xs12 md4 sm6 v-for="hero in heroes">
					<v-img
						class="img"
						:src="hero.photo"
					/>
					<p class="subheading">{{hero.name}}</p>
				</v-flex>
			</v-layout>
		</v-container>

	</section>
</template>

<script>
  import SubsectionTitle from '../../../components/SubsectionTitle'

  export default {
    components: {
      SubsectionTitle
    },
    data: () => ({
      photoUs: require('../../../assets/culture-mission.jpg'),
	  heroes: [
		{"name": "Nombre persona", "photo": require('../../../assets/culture-us.jpg')},
        {"name": "Nombre persona", "photo": require('../../../assets/culture-us.jpg')},
        {"name": "Nombre persona", "photo": require('../../../assets/culture-us.jpg')},
        {"name": "Nombre persona", "photo": require('../../../assets/culture-us.jpg')},
        {"name": "Nombre persona", "photo": require('../../../assets/culture-us.jpg')},
        {"name": "Nombre persona", "photo": require('../../../assets/culture-us.jpg')},
      ]
    })
  }
</script>

<style scoped>
	.img {
		border-radius: 5px;
	}
</style>
