<template>
	<section class="background">
		<v-layout row wrap>
			<v-flex sm12>
				<SubsectionTitle title="Nuestra misión"/>
			</v-flex>
		</v-layout>

		<v-layout row wrap>
			<v-flex
				sm12
				md4
			>
				<v-img
					class="img"
					:src="photo"
					contain
				/>
			</v-flex>

			<v-flex
				sm12
				md8
			>
				<p class="subheading mission">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
			</v-flex>
		</v-layout>
	</section>
</template>

<script>
  import SubsectionTitle from '../../../components/SubsectionTitle'

  export default {
    components: {
      SubsectionTitle
    },
    data: () => ({
      photo: require('../../../assets/logo.png')
    })
  }
</script>

<style scoped>
	.background {
		background-color: #F2F4F2;
	}

	.img {
		width: 20vw;
		padding-bottom: 2vw;
		margin: 0 auto 20px;
		display: block;
	}

	p.mission {
		text-align: justify;
		font-size: 18px !important;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-bottom: 2vw;
	}
</style>
