<template>
	<section>
		<v-layout row wrap>
			<v-flex sm12>
				<SubsectionTitle title="¿Quiénes somos?"/>
			</v-flex>
		</v-layout>

		<v-layout row wrap>
			<v-flex sm12>
				<v-img
					class="img"
					:src="photoUs"
				/>
			</v-flex>
		</v-layout>

		<v-layout row wrap>
			<v-flex sm12>
				<p class="subheading us">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
			</v-flex>
		</v-layout>
	</section>
</template>

<script>
  import SubsectionTitle from '../../../components/SubsectionTitle'

  export default {
    components: {
      SubsectionTitle
	},
	data: () => ({
      photoUs: require('../../../assets/culture-us.jpg')
	})
  }
</script>

<style scoped>
	.img {
		margin-left: 5vw;
		margin-right: 5vw;
		max-height: 35vw;
		border-radius: 5px;
	}

	p.us {
		text-align: justify;
		font-size: 18px !important;
		padding: 2vw 5vw;
	}
</style>
