<template>
	<v-card
		class="align-center event-container"
		flat
	>

		<v-layout row>
			<v-flex sm12>
				<v-avatar
					:size="70"
				>
					<v-img
						:src="image"
						class="elevation-1"
					></v-img>
				</v-avatar>
			</v-flex>
		</v-layout>

		<v-layout row>
			<v-flex sm12>
				<h1 class="event-title">{{eventName}}</h1>
			</v-flex>
		</v-layout>

		<v-chip v-if="isComingSoon()" color="green" text-color="white">Próximo</v-chip>
		<v-chip v-else color="red" text-color="white">Pasado</v-chip>

		<v-layout row>
			<v-flex sm12>
				<v-card-title>{{getFormattedDate()}}</v-card-title>
			</v-flex>
		</v-layout>

		<v-layout row>
			<v-flex sm12>
				<v-btn
					class="text-capitalize"
					outline
					color="#eab029"
					@click="openEventDialog"
				>
					Más información
				</v-btn>
			</v-flex>
		</v-layout>
	</v-card>
</template>

<script>
  import moment from 'moment'

  	export default {
		props: {
		  image: String,
		  eventName: String,
		  eventDate: String,
		  eventDescription: String,
		  launchEventDialog: Function
		},
		methods: {
		  getFormattedDate() {
            let _date = new Date(this.eventDate * 1000)
            moment.locale("es-us")
            return moment(String(_date)).format("dddd LL, LT");
		  },

		  isComingSoon() {
		    let eventDate = new Date(this.eventDate * 1000)
			let currentDate = new Date()
			return eventDate >= currentDate
		  },

		  openEventDialog() {
		    const self = this
		    self.launchEventDialog({
			  image: self.image,
			  name: self.eventName,
			  date: self.eventDate,
			  description: self.eventDescription
			})
		  }
		}
  	}
</script>

<style scoped>
	.v-card {
		padding: 2vw;
		border-radius: 10px;
	}

	h3 {
		color: darkslategray;
	}
</style>
