<template>
	<v-layout justify-center row>
		<v-dialog
			@keydown.esc="dialog = false"
			max-width="700px"
			persistent
			v-model="dialog"
		>
			<v-card class="dialog-custom">
				<v-img
					:alt="name"
					:src="image"
					aspect-ratio="2.75"
				></v-img>

				<v-card-title
					primary-title
				>
					<div>
						<h1 class="headline mb-3"><b>{{name}}</b></h1>
						<v-card-title class="justify-center">{{getFormattedDate()}}</v-card-title>
						<div class="description">{{description}}</div>
					</div>
				</v-card-title>
				<v-card-actions>
					<v-btn
						@click="closeDialog()"
						color="#eab029"
						flat
					>
						Cerrar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-layout>
</template>

<script>
  import Bus from '../Bus'
  import moment from 'moment'

  export default {
    data: () => ({
	  dialog: false,
      image: '',
      name: '',
      description: '',
      date: '',
	}),
	methods: {
      closeDialog() {
        this.dialog = false
      },
	  getFormattedDate() {
        let _date = new Date(this.date * 1000)
        moment.locale("es-us")
        return moment(String(_date)).format("dddd LL, LT");
	  }
    },
    beforeMount () {
      Bus.$on('onEventDialogLaunched', (payload) => {
        this.dialog = payload.isOpen
		this.image = payload.image
        this.name = payload.name
        this.date = payload.date
        this.description = payload.description
      })
    }
  }
</script>

<style scoped>
	.v-dialog {
		border-radius: 10px !important;
	}
</style>
