<template>
	<section>
		<v-layout row>
			<v-flex sm12>
				<h1 class="headline">{{title}}</h1>
				<h3 class="subheading grey--text">{{description}}</h3>
				<v-img
					max-width="800"
					max-height="400"
					class="preview"
					:src="coverImage"
				/>
				<v-btn
					color="#eab029"
					outline
					@click="onGallerySelected(id)"
				>
					Ver fotos
				</v-btn>
			</v-flex>
		</v-layout>

		<v-layout row wrap>
			<v-flex sm12>
				<v-divider/>
			</v-flex>
		</v-layout>
	</section>
</template>

<script>
  export default {
    props: {
      id: String,
      coverImage: String,
      title: String,
	  description: String,
	  onGallerySelected: Function
	}
  }
</script>

<style scoped>
	h1 {
		font-weight: bold;
		margin-top: 2vw !important;
	}

	.preview {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2vw !important;
	}

	.v-btn {
		margin-top: 2vw !important;
	}
</style>
