<template>
	<v-layout row>
		<v-flex sm12>
			<v-img
				class="preview"
				:src="coverImage"
			/>
			<p class="text-lg-center font-weight-bold">{{title}}</p>
			<p class="text-xs-center grey--text">{{description}}</p>
		</v-flex>
	</v-layout>
</template>

<script>
  export default {
    props: {
      id: String,
      coverImage: String,
	  title: String,
	  description: String
	}
  }
</script>

<style scoped>
	.preview {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2vw !important;
	}
</style>
