<template>
	<v-toolbar fixed>

		<v-toolbar-title>
			<v-toolbar-items @click="onHomeSelected()">
				<v-img class="v-icon"
					alt="La Abeja Guardiana"
					:src="logo"
					width="50"
					height="50"
				/>
			</v-toolbar-items>
		</v-toolbar-title>

		<v-spacer></v-spacer>

		<v-toolbar-items class="hidden-sm-and-down">
			<v-btn @click="onEventsSelected()" class="font-custom-desktop" v-if="from === 'home'" flat>Eventos</v-btn>
			<v-btn @click="onCultureSelected()" class="font-custom-desktop" flat>Cultura</v-btn>
			<v-btn @click="onGalerySelected()" class="font-custom-desktop" flat>Galería</v-btn>
			<v-btn @click="onLibrarySelected()" class="font-custom-desktop" flat>Librería</v-btn>
			<v-btn @click="onContactSelected()" class="font-custom-desktop" v-if="from === 'home'" flat>Contacto</v-btn>
		</v-toolbar-items>

		<v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-toolbar-side-icon>

		<v-navigation-drawer
			ref="nav"
			class="navigation"
			v-model="drawer"
			temporary
			absolute
			right
			:width="width"
			:height="height"
			id = "drawer"
		>
			<v-list class="align-center">
				<v-list-tile-action>
					<v-flex lg12 md12 sm12 xs12 mt-5>
						<v-btn @click="selectEvent()" class="font-custom-mobile" v-if="from === 'home'" flat>Eventos</v-btn>
					</v-flex>
				</v-list-tile-action>
				<v-list-tile-action>
					<v-flex lg12 md12 sm12 xs12 mt-5>
						<v-btn @click="selectCulture()" class="font-custom-mobile" flat>Cultura</v-btn>
					</v-flex>
				</v-list-tile-action>
				<v-list-tile-action>
					<v-flex lg12 md12 sm12 xs12 mt-5>
						<v-btn @click="selectGalery()" class="font-custom-mobile" flat>Galería</v-btn>
					</v-flex>
				</v-list-tile-action>
				<v-list-tile-action>
					<v-flex lg12 md12 sm12 xs12 mt-5>
						<v-btn @click="selectLibrary()" class="font-custom-mobile" flat>Librería</v-btn>
					</v-flex>
				</v-list-tile-action>
				<v-list-tile-action>
					<v-flex lg12 md12 sm12 xs12 mt-5>
						<v-btn @click="selectContact()" class="font-custom-mobile" v-if="from === 'home'" flat>Contacto</v-btn>
					</v-flex>
				</v-list-tile-action>
				<v-list-tile-action>
					<v-flex lg12 md12 sm12 xs12 mt-5>
						<v-icon
							@click="closeDrawer()"
							large
						>close
						</v-icon>
					</v-flex>
				</v-list-tile-action>
			</v-list>
		</v-navigation-drawer>
	</v-toolbar>
</template>

<script>
  export default {
    props: {
      from: String,
      onHomeSelected: Function,
      onEventsSelected: Function,
      onCultureSelected: Function,
      onGalerySelected: Function,
      onLibrarySelected: Function,
      onContactSelected: Function
	},
    data: () => ({
	  logo: require('../assets/logo.png'),
      drawer: null,
      width: 0,
      height: 0
	}),
    watch: {
      width: function(value) {
        this.$refs.nav.width = value
      }
    },
    methods: {
      selectEvent() {
        this.closeDrawer()
        this.onEventsSelected()
      },
	  selectCulture() {
        this.closeDrawer()
		this.onCultureSelected()
	  },
	  selectGalery() {
        this.closeDrawer()
		this.onGalerySelected()
	  },
	  selectLibrary() {
        this.closeDrawer()
		this.onLibrarySelected()
	  },
      selectContact() {
        this.closeDrawer()
        this.onContactSelected()
      },
      updateSize() {
        this.width = document.body.clientWidth
        this.height = document.body.clientHeight
      },
	  closeDrawer() {
        this.drawer = false
	  }
	},
    beforeMount() {
      this.updateSize()
    },
    mounted () {
      const self = this
      window.addEventListener("resize", function(event) {
        self.updateSize()
      })
    }
  }
</script>

<style scoped>
	.v-toolbar {
		background-color: #FDBC55;
		opacity: .98;
		padding: 14px;
	}

	.font-custom-desktop {
		font-size: 18px;
		font-weight: bold;
	}

	.font-custom-mobile {
		color: black;
		font-size: 40px;
		font-weight: bold;
	}

	.v-btn {
		color: white;
	}
	.v-btn:hover {
		color: #171717;
	}

	.v-icon:hover {
		cursor: pointer;
	}

	.navigation {
		background-color: #FDBC55 !important;
	}

	.align-center {
		text-align: center! important;
	}

	@media screen and (max-width: 300px) {
		.font-custom-mobile {
			font-size: 30px;
		}
	}

</style>
