<template>
	<v-layout class="container" row wrap>
		<v-flex md12>
			<h1>{{title}}</h1>
			<v-flex md12>
				<div class="section-line"></div>
			</v-flex>
		</v-flex>
	</v-layout>
</template>

<script>
  export default {
    props: {
      title: String
	}
  }
</script>

<style scoped>
	.container {
		padding-top: 7vw;
		padding-bottom: 7vw;
	}

	h1 {
		font-size: 45px;
		font-weight: bolder;
		text-align: center;
	}

	.section-line {
		width: 20vw;
		height: 10px;
		background-color: #eab029;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
</style>
