<template>
	<section>
		<NavBar
			v-bind:from="'library'"
			v-bind:onHomeSelected="displayHome"
			v-bind:on-culture-selected="displayCulture"
			v-bind:onGalerySelected="displayGallery"
		/>
		<Main/>
		<SectionTitle title="Nuestros libros"/>
		<v-container grid-list-xl>
			<v-layout row wrap>
				<v-flex
					xs12
					sm6
					md3
					lg2
					:key="item.id"
					v-for="item in libraryElements"
				>
					<LibraryPreview
						v-bind:id="item.id"
						v-bind:coverImage="item.coverImage"
						v-bind:title="item.title"
						v-bind:description="item.description"
					/>
				</v-flex>
			</v-layout>
		</v-container>
		<Footer/>
	</section>
</template>

<script>
  import NavBar from '../../components/NavBar'
  import Main from './components/Main'
  import SectionTitle from '../../components/SectionTitle'
  import LibraryPreview from '../../components/LibraryPreview'
  import Footer from '../../components/Footer'
  import LibraryServices from '../../services/LibraryServices/LibraryServices'

  const api = new LibraryServices()

  export default {
    name: 'Library',
	components: {
      NavBar,
	  Main,
	  SectionTitle,
	  LibraryPreview,
	  Footer
	},
	data: () => ({
	  libraryElements: []
	}),
	methods: {
      displayHome() {
        this.$router.push('/')
	  },
      displayCulture() {
        this.$router.push('/culture')
      },
	  displayGallery() {
        this.$router.push('/gallery')
	  },
	  displayLibrary() {
        const self = this
        api.getLibrary()
		  .then(library => {
		    console.log(library)
		    library.forEach((element) => {
		      self.libraryElements.push(element)
			})
		  })
		  .catch(error => {

		  })
	  }
	},
	mounted () {
      this.displayLibrary()
    }
  }
</script>

<style scoped>

</style>
