<template>
	<section>
		<NavBar
			v-bind:from="'gallery'"
			v-bind:onHomeSelected="displayHome"
			v-bind:onCultureSelected="displayCulture"
			v-bind:onLibrarySelected="displayLibrary"
		/>
		<Main/>
		<v-container grid-list-xl>
			<v-layout row wrap>
				<v-flex :key="gallery.id" xs12 v-for="gallery in galleryElements">
					<GalleryPreview
						v-bind:id="gallery.id"
						v-bind:coverImage="gallery.coverImage"
						v-bind:title="gallery.title"
						v-bind:description="gallery.description"
						v-bind:onGallerySelected="displayGallery"
					/>
				</v-flex>
			</v-layout>
		</v-container>
		<Footer/>
		<GalleryDialog/>
	</section>
</template>

<script>
  import NavBar from '../../components/NavBar'
  import Main from './components/Main'
  import GalleryPreview from '../../components/GalleryPreview'
  import GalleryDialog from '../../components/GalleryDialog'
  import Footer from '../../components/Footer'
  import Bus from '../../Bus'
  import GalleryServices from '../../services/GalleryServices/GalleryServices'

  const api = new GalleryServices()

  export default {
    name: 'Gallery',
	components: {
      NavBar,
      Main,
	  GalleryPreview,
	  GalleryDialog,
	  Footer
	},
	data: () => ({
	  galleryElements: []
	}),
	methods: {
      displayHome() {
        this.$router.push('/')
	  },
	  displayCulture() {
        this.$router.push('/culture')
	  },
      displayGallery(id) {
        Bus.$emit('onGalleryDialogLaunched', {
          isOpen: true,
          id: id
        })
	  },
	  displayLibrary() {
        this.$router.push('/library')
	  }
	},
	mounted () {
      const self = this
      api.getGalleries()
		.then(galleries => {
		  galleries.forEach((element) => {
		    self.galleryElements.push(element)
		  })
	  	})
		.catch(error => {

		})
    }
  }
</script>

<style scoped>

</style>
