<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
	  	-webkit-font-smoothing: antialiased;
	  	-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		cursor: url("./assets/cursor.png"), auto !important;
	}

	.v-btn:hover {
		cursor: url("./assets/cursor.png"), auto !important;
	}

	.v-icon:hover {
		cursor: url("./assets/cursor.png"), auto !important;
	}
</style>
